
@if(isLogin){
<div class="auth-page d-flex align-items-center justify-content-center min-vh-100 p-3">
    <div class="card shadow-lg border-0 auth-card">
        <div class="card-body p-4 p-md-5">

            <h2 class="card-title text-center mb-4 fw-bold">Welcome Back</h2>
            <p class="text-center text-muted mb-5">
                Sign in to continue your content creation journey.
            </p>

            <form [formGroup]="loginForm" (ngSubmit)="loginUSer()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input formControlName="email"  type="email" class="form-control" id="email" 
                           placeholder="you@example.com" required 
                          >
                          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) { <p class="text-danger" style="font-size: 12px;margin-top: 3px;">Invalid Email</p>}
                         
                </div>

                <div class="mb-4">
                    <label  for="password" class="form-label d-flex justify-content-between">
                        <span>Password</span>
                        <a href="#" class="text-decoration-none small">Forgot Password?</a>
                    </label>
                    <input formControlName="password" type="password" class="form-control" id="password" 
                           placeholder="••••••••" required 
                           >
                             @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) { <p class="text-danger" style="font-size: 12px;margin-top: 3px;">Invalid Password</p>}
                </div>

                <!-- <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">
                        Remember Me
                    </label>
                </div> -->

                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg auth-btn">
                        Sign In
                    </button>
                </div>

                <p class="text-center mt-4">
                    New to the platform? 
                    <a type="button" (click)="createAccount()" class="fw-bold text-decoration-none">Create an account</a>
                </p>
            </form>

        </div>
    </div>
</div>
}
@else {
<div class="auth-page d-flex align-items-center justify-content-center min-vh-100 p-3">
    <div class="card shadow-lg border-0 auth-card">
        <div class="card-body p-4 p-md-5">

            <h2 class="card-title text-center mb-4 fw-bold">Join Creatify AI</h2>
            <p class="text-center text-muted mb-5">
                Start your 7-day free trial now. No credit card required.
            </p>

            <form [formGroup]="registeForm" (ngSubmit)="registerUser()"hj>
                <div class="mb-3">
                    <label  for="name" class="form-label">Full Name</label>
                    <input formControlName="username" type="text" class="form-control" id="name" 
                           placeholder="John Doe" required 
                            >
                              @if (registeForm.get('username')?.invalid && registeForm.get('username')?.touched) { <p class="text-danger" style="font-size: 12px;margin-top: 3px;">Invalid username</p>}
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input formControlName="email" type="email" class="form-control" id="email" 
                           placeholder="you@example.com" required 
                            >
                              @if (registeForm.get('email')?.invalid && registeForm.get('email')?.touched) { <p class="text-danger" style="font-size: 12px;margin-top: 3px;">Invalid Email</p>}
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Choose a Password</label>
                    <input formControlName="password" type="password" class="form-control" id="password" 
                           placeholder="min. 8 characters" required 
                           >
                             @if (registeForm.get('password')?.invalid && registeForm.get('password')?.touched) { <p class="text-danger" style="font-size: 12px;margin-top: 3px;">Invalid password</p>}
                </div>

                <div class="d-grid gap-2 mb-3">
                    <button  type="submit" class="btn btn-primary btn-lg auth-btn">
                        Sign Up for Free
                    </button>
                </div>

                <p class="text-center small mt-3 text-muted">
                    By clicking "Sign Up", you agree to our 
                    <a  class="text-decoration-none">Terms and Conditions</a>.
                </p>

                
            </form>
                  <p class="text-center mt-4">
                    Already have an account? 
                    <a type="button"  (click)="goSignIn()" class="fw-bold text-decoration-none">Sign In</a>
                </p>
        </div>
    </div>
</div>
}
